php_flag magic_quotes_gpc Off

php_value max_execution_time 100
php_value max_input_time 100
php_value upload_max_filesize 10M
#php_value post_max_size 10M

AddDefaultCharset utf-8
DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php