<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>404 Страница не найдена</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="css/main.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="b_grd">
	<div class="bg_logo"></div>
	<div class="not_found-main">	
		<div class="not_found-wrap">	
			<div class="wraper_404">	
				<h1>40 <span class="rotate_sybml">4</span></h1>
				<span class="not_found-txt">Страница не найдена...</span>
				<span class="not-found_mask"></span>
				<a href="#" class="go_back">Вернуться назад</a>
			</div>
		</div>
	</div>	
</body>
</html>
